.env
node_modules
.DS_Store

# Development & Redundant Files
backend/controllers/chatController.js
backend/scripts/

# Documentation
documentation/
docs/

# Uploads & Sensitive Data
backend/uploads/resumes/*
!backend/uploads/resumes/.gitkeep